.cart-modal {
  position: absolute;
  top: 70px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 70vh;

  background: whitesmoke;
  border: solid 1px black;
  overflow-x: hidden;

  z-index: 5;
}

.cart-button {
  display: block;
  min-width: 140px;
  min-height: 45px;
  margin-bottom: 1rem;
}

.cart-items {
  height: 65vh;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

@media screen and (max-width: 420px) {
  .cart-modal {
    width: 100vw;
    right: 0;
    border: none;
    border-bottom: 1px solid black;
    .cart-items {
      img {
        width: 90vw;
      }
    }
  }
}
