.category-menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-bottom: 50px;
  padding-left: 310px;
}

@media screen and (max-width: 1200px) {
  .category-menu {
    width: 85%;
    align-self: flex-start;
    padding-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .category-menu {
    width: 100vw;
    padding-left: 0;
  }
}

@media screen and (max-width: 321px) {
  .category-menu {
    width: 50%;
  }
}
