.shop-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  padding: 0.3rem;

  &:hover {
    .add-button {
      opacity: 0.9;
    }
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;

    .name {
      margin-bottom: 15px;
    }
  }

  .add-button {
    opacity: 0;
    position: relative;
    bottom: 5rem;

    color: black;
    background-color: white;

    &:hover {
      border: none;
    }
  }
}

// Category Page Styling

.large-shop-item {
  height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0;

  .image {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .large-container {
    width: 38%;
    height: 100vh;
    line-height: 17ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;

    .name {
      font-size: 10rem;
      font-family: "Playfair Display", serif;
    }
    .price {
      display: none;
    }

    .large-container-add-button {
      width: 30%;
    }
  }

  .add-button {
    display: none;
  }
}

.price-box {
  display: flex;
  align-items: center;
  padding-top: 8rem;

  .large-container-price {
    font-size: 1.6rem;
    padding-right: 5rem;
  }
}
