.checkout-item-container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  border-top: 1px grey solid;
  padding: 1rem 0;
}

.checkout-image-container {
  display: flex;
  justify-content: flex-start;
  width: 80%;

  .checkout-image {
    width: 50%;
  }
  .checkout-name {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    font-size: 1.5rem;
  }
}

.description-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.quantity {
  display: flex;
}

.quantity-arrow {
  padding: 0 5px;
  cursor: pointer;
  color: rgb(99, 140, 252);
}
.checkout-price {
  padding-left: 10rem;
  padding-right: 5rem;
}

.checkout-total {
  padding-left: 5rem;
}
.remove-button-container {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
  right: 15px;

  background: rgb(201, 201, 201);
  min-width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    background: #555;
    color: white;
  }
}

.remove-button {
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .checkout-item-container {
    width: 80vw;
  }

  .checkout-name {
    font-size: 1.2rem;
  }

  .checkout-price {
    text-align: left;
    padding-left: 2rem;
    padding-right: 5rem;
  }

  .checkout-total {
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 420px) {
  .checkout-item-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    .checkout-image-container {
      padding-top: 1rem;
      width: 90vw;
      .checkout-image {
        width: 60%;
        height: auto;
        padding-left: 1rem;
      }
    }
  }

  .description-container {
    width: 100vw;
    justify-content: flex-start;
    padding-left: 0;
    padding-top: 2rem;
    padding-right: 1rem;
    font-size: 1.3rem;
  }

  .remove-button-container {
    bottom: 15rem;
    right: 0;
    left: 11rem;
  }
}

@media only screen and (max-width: 375px) {
  .checkout-item-container {
    .remove-button-container {
      bottom: 14rem;
      left: 10rem;
    }
  }
}
@media only screen and (max-width: 320px) {
  .checkout-item-container {
    .description-container {
      justify-content: space-around;
      padding-right: 2rem;
      font-size: 1.2rem;
    }
    .remove-button-container {
      bottom: 13rem;
      left: 8rem;
    }
  }
}
