.menu-item {
  width: 43vw;
  height: 150px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  transition: 0.4s all ease-in-out;

  cursor: pointer;

  .content-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 150px;
    background-color: black;
    opacity: 0.8;
    transition: 0.4s all ease-in-out;

    .content-title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 1.6rem;
      color: white;
    }

    .content-subtitle {
      font-weight: lighter;
      font-size: 16px;
      color: white;
    }
  }
}

.hats {
  border-radius: 8px 8px 0 0;
  .content {
    border-radius: 0 8px 0 0;
  }
}

.masc {
  border-radius: 0 0 8px 8px;
  .content {
    border-radius: 0 0 8px 0;
  }
}

.menu-item-container {
  &:hover {
    .menu-item {
      height: 250px;
      width: 130%;
    }
    .content {
      opacity: 1;

      height: 250px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu-item-container {
    .menu-item {
      width: 90%;
    }
    &:hover {
      .menu-item {
        height: 250px;
        width: 90%;
      }
      .content {
        opacity: 1;

        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .menu-item-container {
    width: 100vw;
    .menu-item {
      width: 100%;
    }
    &:hover {
      .menu-item {
        height: 150px;
        width: 100%;
      }

      .content {
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .menu-item-container {
    width: 100vw;

    .menu-item {
      width: 100vw;
    }

    .content {
      width: 30%;
      align-items: flex-start;
      padding-left: 1.5rem;

      .content-title {
        padding-left: 0;
      }
    }
  }

  .hats {
    border-radius: 0;
    .content {
      border-radius: 0;
    }
  }

  .masc {
    border-radius: 0;
    .content {
      border-radius: 0;
    }
  }
}
