.shop-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow-x: hidden;

  .title {
    max-width: 50px;
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-left: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    .subtitle {
      padding-left: 2rem;
      font-size: 1.2rem;
      color: rgb(121, 121, 121);
    }
  }

  .preview-content {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 1rem;
    border-bottom: solid 3px #555;

    .shop-item {
      width: 100%;
      padding-bottom: 0;
    }
  }
}

.category-link {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .shop-preview-container {
    .preview-content {
      width: 100vw;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 0;

      .shop-item {
        padding: 0;
        .price-box {
          padding: 0;
          width: 20%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .shop-preview-container {
    .title {
      margin-top: 3.1rem;
      margin-left: 0;
      .subtitle {
        font-size: 1rem;
      }
    }

    .preview-content {
      width: 100vw;

      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;

      .shop-item {
        width: 50vw;
        padding: 0;
      }
    }

    .add-button {
      opacity: 1;
      min-width: 130px;
    }
  }
}

@media screen and (max-width: 420px) {
  .shop-preview-container {
    width: 100vw;
    .preview-content {
      width: 100vw;

      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;

      .shop-item {
        width: 50vw;
        padding: 0;
        padding-bottom: 3rem;
        .image {
          width: 50vw;
        }
      }
    }

    .add-button {
      opacity: 1;
      min-width: 130px;
    }
  }
}

@media screen and (max-width: 320px) {
  .shop-preview-container {
    .preview-content {
      .shop-item {
        padding-bottom: 4rem;
      }
    }

    .add-button {
      height: 50px;
    }
  }
}
