.shop-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .title {
    max-width: 50px;
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    margin-bottom: 0;
    padding-left: 2rem;
    cursor: pointer;
    z-index: 10;
  }

  .preview-content {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    align-self: center;
    padding-top: 25px;
    border-bottom: solid 3px #555;

    .shop-item {
      width: 100%;
      padding-bottom: 0;
    }
  }
}
